.theme-option {
  text-align: center;
  border-radius: 4px;
  border: 1px solid #777;
  padding: 3px;
  margin-bottom: 10px;
  font: inherit;
}

.author-theme {
  background-color: #fdfdfd;
  color: #000;
  font-weight: 700;
  border: 1px dashed #333;
}

.default-theme {
  background-color: #fff;
  color: #000;
}

.night-theme {
  background-color: #141414;
  color: #fdfdfd;
}

.parchment-theme {
  background-color: #f7f1cf;
  color: #774c27;
}

.ballard-theme {
  background-color: #576b96;
  color: #ddd;
}

.vancouver-theme {
  background-color: #ddd;
  color: #576b96;
}

